@model IEnumerable<TabApp.Models.Item>

@{
    ViewData["Title"] = "Items";
}

<h2>Items</h2>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                User
            </th>
            <th>
            </th>
            </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Details" asp-controller="Person" asp-route-id="@item.Person.ID">@Html.DisplayFor(modelItem => item.Person.Name) @Html.DisplayFor(modelItem => item.Person.Surname)</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a> |
                <a asp-action="RepairList" asp-route-itemID="@item.ID">Repair List</a> |
                <a asp-controller="Repair" asp-action="Create" asp-route-itemID="@item.ID">Add repair</a>
            </td>
        </tr>
}
    </tbody>
</table>
