@model IEnumerable<TabApp.Models.Person>

    @{
    ViewData["Title"] = "Persons";
    }

    <h2>Chose existing person</h2>


    <div class="container">
        <h5>Item data</h5>
        <form asp-controller="Item" asp-action="SelectOwner">

            <div class="col-md-4">
                <label class="control-label">Serial number</label>
                <input class="form-control" name="SerialNumber" value="@ViewBag.SerialNumber" readonly>
                <label class="control-label">Descriptrion</label>
                <input class="form-control" name="Description" value="@ViewBag.Description" readonly>
            </div>

            <!-- <p>
                <a asp-action="Create" class="btn btn-outline-primary my-2 my-sm-0" style="padding-right:15px;">Send message</a>
                <a asp-action="SendToWorker" class="btn btn-outline-primary my-2 my-sm-0" style="padding-right:15px;">Contact Support</a>
                <a asp-action="SendBox" class="btn btn-outline-success my-2 my-sm-0">Sent by me</a>
            </p>-->
            <br />

            <h5>Persons list</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Surname
                        </th>
                        <th>
                            Address
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Phone number
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr>

                        <th>
                            <input type=text name="NameFilter" value="@ViewBag.NameFilter">
                        </th>
                        <th>
                            <input type=text name="SurnameFilter" value="@ViewBag.SurnameFilter">
                        </th>
                        <th>
                        </th>
                        <th>
                        </th>
                        <th>
                        </th>
                        <th>
                            <button type="submit" class="btn btn-outline-primary my-2 my-sm-0"> Filter </button>

                        </th>
                    </tr>
        </form>

        @foreach (var person in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelPerson => person.Name)
            </td>
            <td>
                @Html.DisplayFor(modelPerson => person.Surname)

            </td>
            <td>
                @Html.DisplayFor(modelPerson => person.Address)
            </td>
            <td>
                @Html.DisplayFor(modelPerson => person.Email)

            </td>
            <td>
                @Html.DisplayFor(modelPerson => person.PhoneNumber)
            </td>
            <td>
                <form asp-controller="Item" asp-action="AddItemWithPerson">
                    <input type=hidden name="SerialNumber" value="@ViewBag.SerialNumber">
                    <input type=hidden name="Description" value="@ViewBag.Description">
                    <input type=hidden name="PersonID" value="@person.ID">
                    <button type="submit" class="btn btn-outline-success my-2 my-sm-0"> Choose </button>
                </form>
            </td>
        </tr>
        }
        </tbody>
        </table>

    </div>
