@model TabApp.Models.Service

@{
    ViewData["Title"] = "Details";
}

<h1>Details </h1>

<div>
    <h4>Service</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WarrantyDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarrantyDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartsCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartsCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceList.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceList.Price) zł
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceList.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceList.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="UserServices" asp-route-repairID="@ViewBag.RepairID" class="btn btn-outline-danger my-2 my-sm-0">Back</a>
</div>