@model TabApp.Models.Repair

@{
    ViewData["Title"] = "Create";
}
<script>
    
    function myF(){
        if(@ViewBag.ItemID)
        {
            document.getElementById('itemID').value = '@ViewBag.ItemID';
            document.getElementById('ItemSerialNumber').value = '@ViewBag.ItemSerialNumber';
            document.getElementById('ItemDescription').value = '@ViewBag.ItemDescription';
            document.getElementById('ItemSerialNumber').setAttribute("readonly", true);
            document.getElementById('ItemDescription').setAttribute("readonly", true);
        }
       
    }
    
     window.onload = myF;
</script>

<h1>Create</h1>

<h4>Repair</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" id="itemID" name="itemID"/>
            <div class="form-group">
                <label asp-for="Item.SerialNumber" class="control-label">Item Serial Number</label>
                <input asp-for="Item.SerialNumber" class="form-control"  id="ItemSerialNumber"/>
                <span asp-validation-for="Item.SerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Description" class="control-label">Item Description</label>
                <input asp-for="Item.Description" class="form-control" id="ItemDescription"/>
                <span asp-validation-for="Item.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdmissionDate" class="control-label"></label>
                <input asp-for="AdmissionDate" class="form-control" />
                <span asp-validation-for="AdmissionDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Warranty" /> @Html.DisplayNameFor(model => model.Warranty)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
